@import './assets/styles/variables.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--gray-50);
  color: var(--gray-900);
}

code {
  font-family: var(--font-family-mono);
}

#root {
  min-height: 100vh;
}
